#about {
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: 100vh;
}

.about-h1 {
    text-align: center;
}

#about > h2, #about > h3, #about > h4, #about > h5{
    color: var(--color-bg);
}   

.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}

.pic-container {
    margin: auto;
}

.pic-container > img {
    aspect-ratio: auto 1/1;
    width: 100%;
    height: 100%;
}

.exp-container > h1 {
    margin-bottom: 1rem;    
}

div.about-me-content{
    padding: 1.5rem;
    color: var(--color-bg);
    background-color: white;
    border-style: solid;
    margin: auto;
}

@media only screen and (max-width: 1170px){
    #about {
        height: 150vh;
    }

    .about-me {
        grid-template-columns: auto;
        grid-template-rows: 1fr, 2fr;
    }

    .pic-container > img {
        width: 50%;
        height: 50%;
    }
    
}

@media only screen and (max-width: 768px) {
    .pic-container > img {
        width: 80%;
        height: 80%;
    }
}

